<%- include('../port/layout-start.ejs', {title: title}) %>

<body data-bs-theme="dark">
    <%- include("../port/menu.ejs")  %>

    <div class="mt-5 container d-flex justify-content-center">
        <h1><%= title %></h1>
    </div>
</body>

<%- include("../port/layout-end.ejs") %>