<%- include('../port/layout-start.ejs', {title: title}) %>

<body data-bs-theme="dark">
    <%- include("../port/menu.ejs")  %>

    <div class="mt-5 container d-flex justify-content-center">
        <h1><%= title %></h1>
    </div>

    <div class="container">
        <form action="/books/api/create/" method="POST" enctype="multipart/form-data">
            <label for="title" class="form-label">Название книги</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="title" placeholder="Введите название">

            <label for="description" class="form-label mt-3">Описание книги</label>
            <input type="text" class="form-control" name="description" id="description" aria-describedby="description" placeholder="Введите описание">

            <label for="book-authors" class="form-label mt-3">Авторы</label>
            <input type="text" class="form-control" name="authors" id="authors" aria-describedby="authors" placeholder="Введите авторов">



            <label for="fileCover" class="form-label mt-5">Обложка книги</label>
            <input type="text" class="form-control" name="fileCover" id="fileCover" aria-describedby="fileCover" placeholder="Введите ссылку на обложку">

            <label for="fileBook" class="form-label mt-3">Файл книги</label>
            <input type="file" class="form-control" name="fileBook" id="fileBook" aria-describedby="fileBook">
            
            <button type="submit" class="btn btn-success mt-3">Создать</button>
        </form>
    </div>
</body>

<%- include("../port/layout-end.ejs") %>